/* ---- reset ---- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}


/* ---- typography ---- */

body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {}

h3 {}

p {
    margin: 0;
}


/* ---- layout ---- */

#site-header {
    padding: 30px 0;
    color: white;
    background: #111;
}

#site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
}

#site-main {
    margin-bottom: 60px;
}

.container {
    margin: 0 20px;
}

.section {
    margin-bottom: 20px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
        margin: 0 auto;
    }
}


/* ---- components ---- */

button {
    width: 25%;
    background-color: rgb(37, 36, 36);
    color: white;
    border: 5px solid rgb(224, 46, 115);
    padding: 1%;
    margin-top: 10%;
    border-radius: 25%;
}

.button-alt {
    color: blue;
    background-color: #fff;
}


/* ---- section ---- */

.game-screen {
    width: 670px;
    height: 600px;
    border: 1px solid black;
    background-image: url('./images/ArkanoidFondo.png');
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-image: url('./images/thumb-1920-595000.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.gameLogo img {
    width: 90%;
    margin-top: 10%;
    margin-left: 8%;
}